/* navbar */
nav {
	margin-bottom: 0px !important;
	border: 0;
}

.navbar li a:hover {
	color: blue !important;
}

.navbar li a {
	padding-bottom: 5px;
}

.navbar-brand {
	padding: 0;
}

.fa-cubes {
	margin-left: 30px;
	color: blue !important;
}
/* footer */
.footer {
	background-color: gray;
	height: 10vh;
	padding: 20px;
}

.footer ul li{
	display: inline;
	color: white;
}

.footer ul li a {
	color: white;
	text-decoration: none;
}

.footer li a {
	font-size: 20px;
}

.footer-social ul li a {
	margin-left: 45px;
}

.footer-social ul li a:hover {
	color: blue;
}

.footer-links ul li a {
	margin-right: 20px;
}

.footer-links ul li a:hover {
	color: blue;
}

/* home page */

/* carousel */

.carousel-inner {
	height: 80vh;;
}

.carousel-caption {
	padding: 0;
	position: absolute;
	left: 10px;
	top: 50px;
	color: black;
	
}

.carousel-caption h2 {
	font-size: 100px;
	font-weight: 700;
	color: white;
	padding-top: 20px;
}

.carousel-caption h1 {
	color: blue;
	font-weight: 700;
	font-size: 100px;
	padding-top: 200px;
}

.carousel-caption h3 {
	color: rgb(226, 60, 60);
	font-weight: 700;
	font-size: 100px;
	text-align: left;
	padding-top: 200px;
}

.growth {
	font-size: 60px;
	color: red;
	font-weight: 700;
}

.heading {
	padding: 10vh 0vw;
	background-color: #eeeff1;
	color: darkgray;
	font-size: 55px;
	font-weight: bolder;
	margin: 0;

}

.aboutUsImg {
	height: 100%;
}

.clients {
	padding-bottom: 5vh;
	padding-top: 5vh;
	color: black;
}

.clients img {
	height: 300px;
	/* border: 3px solid lightgray; */
}

.btn-clients {
	margin-top: 5vh;
}

.item:hover .item-overlay.top {
	top: 0;
  }
  .item-overlay {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	text-align: center;
	width: 100%; 
	-moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  }
  .item-overlay.top {
	top: 100%;
  }
  .item {
	position: relative;
	float: left;
	overflow: hidden;
  }
  .item img {
	max-width: 100%;
  }


.when {
	background-image: url("chairs-chairs-and-tables-contemporary-2678468.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	height: 25vh;
	width: 100vw;
	font-size: 50px;
	margin: 0;
	padding-top: 50px;
	color: white;
}

.forma {
	background-color: #f8f8f8;
	color: #333;
	padding-bottom: 5vh;
}

.Adress {
	color: black;
	 font-weight: bold;
	 font-size: 15px;
}

/* about page */

.about-img {
	background-image: url("chairs-company-desk-7065.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	height: 85vh;
	width: 100vw;
	color: white;
}

.about-img h2 {
	margin-top: 45vh;
	font-weight: bolder;
	font-size: 45px;
	color: white;
}

.about-who {
	background-image: url("chairs-chairs-and-tables-contemporary-2678468.jpg");
	background-position: center;
	background-size: cover;
}

.about-who h2 {
	padding: 35px;
	font-weight: bolder;
	font-size: 50px;
	color: white;
}

.about-what {
	background-image: url("cheerful-colleagues-digital-device-1432942.jpg");
	background-position: center;
	background-size: cover;
}

.about-what h2 {
	padding: 35px;
	font-weight: bolder;
	font-size: 50px;
	color: white;
}

.about-why {
	background-image: url("advice-colleagues-communication-1161465.jpg");
	background-position: center;
	background-size: cover;
}

.about-why h2 {
	padding: 35px;
	font-weight: bolder;
	font-size: 50px;
	color: white;
}

.about-text p{
	font-size: 35px;
	padding: 20px;
}

.our-team {
	font-size: 60px;
	padding: 10vh;
	font-weight: bolder;
}

/* service page */
.services-img {
	background-image: url("arrows-blur-buttons-2115257.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 85vh;
	width: 100vw;
	color: white;
	padding-left: 15vw;
	padding-right: 5vw;
	padding-top: 15vw;
}

.services-img h1 {
	font-size: 50px;
	font-weight: bolder;
}

.web-icon {
	background-color: orangered;
	color: white;
}

.hosting-icon {
	background-color: aqua;
	color: white;
}

.graphical-icon {
	background-color: greenyellow;
	color: white;
}

.marketing-icon {
	background-color: brown;
	color: white;
}

.mobile-icon {
	background-color: gray;
	color: white;
}

.development-icon {
	background-color: magenta;
	color: white;
}

.branding-icon {
	background-color: sandybrown;
	color: white;
}

.fas {
	color: white;
	padding: 15px;
}

.btn-icon {
	margin-bottom: 15px;
	color: white;
	background-color: transparent;
	border: 3px solid white;
}

.btn-icon:hover {
	background-color: white;
	color: blue;
	border: 3px solid blue;
}

.btn-icon:focus{
	outline: none;
	color: blue;
}

.fa-check {
	color: black !important;
}

.panel-title {
	padding: 10px;;
}

/* portfolio page */

.portfolio-img {
	height: 80vh;
	width: 100vw;
}

.portfolio-links {
	background-color: teal;
	color: white;
	padding: 5vh 0vw;
}

.portfolio-links img {
	height: 300px;
}

/* contact page */

.contact-img {
	background-image: url("access-blur-bowl-744461.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 80vh;
	width: 100vw;
}


